<!DOCTYPE html>
<html lang="en" ng-app="LunchCheck">
<head>
	<meta charset="UTF-8">
	<title>Fisrt Assigment AngularJS</title>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="www/lib/angular-material/angular-material.css">
</head>
<body>

	<center>

	   <form class="myForm">
	   		 <div layout-gt-sm="row" ng-controller="LunchCheckController" >
          <md-input-container class="md-block" flex-gt-sm> <br>
            <input ng-model="userData.someText" placeholder="Lunch Time!!" >
            <h1 class="md-display-3 color-text-nice" ng-if="nice">
             	{{ msg }}
             </h1> <br>
             <h1 class="md-display-3 color-text-error" ng-if="error">
            		{{ msg }}
           	</h1> <br>
             <md-button class="md-raised md-primary" ng-click="clickme()">
             	Check If Too Much</md-button>
             <br>


          </md-input-container>
      
        </div>
	   </form> 

	</center>

	<script src="www/lib/angular/angular.min.js"></script>
	<script src="www/lib/angular-material/angular-material.min.js"></script>
	<script src="www/lib/angular-aria/angular-aria.min.js"></script>
	<script src="www/lib/angular-animate/angular-animate.min.js"></script>
	
	<script src="js/app.js"></script>
</body>
</html>