<!DOCTYPE html>
<html lang="en" ng-app="LunchCheck">
<head>
	<meta charset="UTF-8">
	<title>Fisrt Assigment AngularJS</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>

	<center>

	  <div style="border: solid 2px green; padding: 20px" ng-controller="LunchCheckController">
			<input type="text" ng-model="userData.text_value"> <br>
			<button type="button" ng-click="clickme()">
				Click me
			</button>
			<br>
			<span>
				{{ userData.text_value }}
			</span>	
	  	
	  </div>

	</center>

	<script src="www/lib/angular/angular.min.js"></script>
	<script src="js/app.js"></script>
</body>
</html>